.addproduct{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 70px;
    position: absolute;
    margin-left: 2%;
}
header{
    margin-top: 10px;
}
header p{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.addproduct-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding-left: 20px;
    
}


.addproduct-form label{
    width: 50%;
    height: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    color:rgb(63, 43, 13);
   
}
.addproduct-form input{
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: rgb(168, 161, 161);
    border-radius: 5px;
    font-size: 1.1rem;

    @media screen  and (max-width:768px){
        width: 90%;
    }
   

}
.addproduct-form button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #41362d;
    border: none;
    color: #f8f4f0;
    font-size: 20px;
    font-weight: bold; 
}

.addproduct-form button:hover{
    background-color:#f8f4f0 ;
    color:#41362d ;
}