.products-main {
   
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin-top: 70px;
    position: absolute;
 }
.products-main h3{
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

 table{
     width: 90%;
     @media screen  and (max-width:768px){
     
    }

 }
 table tr,th{
     padding: 10px;
     text-align: center;
 }
 img{
     height: 50px;
     width: auto;
 }