.homepage-main-div{
    
     width: 100%; 
     height: 100vh;
     margin-left: -60px;
   
    margin-top: 60px;
    position: absolute;
    @media only screen and (max-width: 1024px) {
        margin-left: 5%;
    }

}
.homepage-hero-image{
    width: 80%;
    
   margin-left: 30px;
   display: flex;
   justify-content: space-between;

   
  
}
.homepage-hero-image img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    margin-right: 10px;
 
    @media screen  and (max-width:768px){
       display: none;
    }
     
   
    
   
}

.homepage-cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
    margin-left: 30px;
    flex-wrap: wrap;
   
    @media screen  and (max-width:768px){
        width: 60%;
        /* margin-left: -15px; */
        
        flex-direction: column; 
        justify-content: center;
 /* align-items: center; */ 
        /* background-color: aquamarine; */
    }
    /* border: 1px solid red; */

}

.homepage-card-image{
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    border:1px solid rgb(204, 196, 196) ;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    @media screen  and (max-width:768px){
        width: 200px;
        height: 260px;
        padding: 2px;
        margin-bottom: 5px;
         align-items: center;
         padding: 10px;
    }
}
.card-image{
    width: 100px;
    height: 200px;  
    margin-bottom: 15px;
    @media screen  and (max-width:768px){
        width: 85px;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 30px;
    }
}
.card-image img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    align-content: center;
    @media screen  and (max-width:768px){
        width: 75px;
        

    }
}
.card-name{
    font-size: 25px;
    font-weight: bold;
    color: rgb(170, 87, 28);
    text-align: left;
    margin-bottom: 5px;
}
.card-des{
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: rgb(170, 87, 28);
    margin-bottom: 5px;
}
.card-amt{
    font-size: 20px; 
    font-weight: bold;
    color: rgb(170, 87, 28);
    margin-bottom: 15px;
}
.qtydiv{
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
  
   

}
.homepage-card-image .addcartbtn{
   
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color:rgb(170, 87, 28) ;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
  
  
}
.homepage-card-image .addcartbtn:hover{
    background-color:  #fff;
    color:rgb(170, 87, 28) ;
    border: 1px solid rgb(170, 87, 28);
}
@media screen  and (max-width:768px){
    .card-name,  .card-amt{
        font-size: 1rem;
    }
    .card-des{
        display: none;
    }
    .homepage-card-image .addcartbtn{
        width: 110px;
        height: 35px;
        font-size: 1rem;
       margin-left: -10px;
        

    }

}



/* .qtybtn{
    width: 50px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color:rgb(170, 87, 28) ;
    border-radius: 10px;
    border: none;
margin-right: 5px;
   text-align: center;
   margin-bottom: 10px;
   
}
.qtybtn1{
    width: 50px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color:rgb(170, 87, 28) ;
    border-radius: 10px;
    border: none;
margin-right: 5px;
   text-align: center;
   margin-bottom: 10px;
   
}
.qtyinput{
    width: 50px;
    height: 43px;
    margin-right: 5px;
    margin-bottom: 10px;
   
} */